<h1>Lab5</h1>
<div class="table">
    <table class="center">
    <thead>
        <th>Names:</th>
        <th>Emails:</th>
        <th>Logins:</th>
        <th>Passwords:</th>
        <th>Phone numbers:</th>
    </thead>
    <tbody>
        <tr *ngFor="let users of myUsers">
            <td>{{users.name}}</td>   
            <td>{{users.email}}</td>       
            <td>{{users.login}}</td>
            <td>{{users.password}}</td>
            <td>{{users.phone}}</td>
            <td><button mat-raised-button (click) = "openDialog(users.id)">Details</button></td>
            
        </tr>
    </tbody>
    </table>
</div>
<h1>Favourites:</h1>
<div class="favtable">
    <table class="center">
    <thead>
        <th>Names:</th>
        <th>Emails:</th>
        <th>Logins:</th>
        <th>Passwords</th>
        <th>Phone numbers:</th>
    </thead>
    <tbody>
        <tr *ngFor="let users of favourites">
            <td>{{users.name}}</td>   
            <td>{{users.email}}</td>       
            <td>{{users.login}}</td>
            <td>{{users.password}}</td>
            <td>{{users.phone}}</td> 
        </tr>
    </tbody>
    </table>
</div>
