<div class="centerInp"><input type="text" [(ngModel)] = "link" placeholder="https://..."> </div>
<div class="center"><p class = "errors">{{errorMsg}}</p></div>
<div class="center"><button class="okBut" (click)="ngOnInit(); checkLink();">less go</button></div>

<div class="table">
  <table class="center">
  <thead>
    <th>Names:</th>
    <th>Emails:</th>
    <th>Logins:</th>
    <th>Passwords:</th>
    <th>Phone numbers:</th>
  </thead>
  <tbody>
      <tr *ngFor="let users of myUsers">
          <td>{{users.name}}</td>   
          <td>{{users.email}}</td>       
          <td>{{users.login}}</td>
          <td>{{users.password}}</td>
          <td>{{users.phone}}</td>
          <td><button mat-raised-button class="okbut" (click) = "openDialog(users.id)">Details</button></td>
          
      </tr>
  </tbody>
  </table>
</div>
<h1>favourites:</h1>
<div class="favtable">
  <table class="center">
  <thead>
    <th>Names:</th>
    <th>Emails:</th>
    <th>Logins:</th>
    <th>Passwords</th>
    <th>Phone numbers:</th>
  </thead>
  <tbody>
      <tr *ngFor="let users of favourites">
          <td>{{users.name}}</td>   
          <td>{{users.email}}</td>       
          <td>{{users.login}}</td>
          <td>{{users.password}}</td>
          <td>{{users.phone}}</td> 
      </tr>
  </tbody>
  </table>
</div>
